<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div v-if="error" class="alert alert-danger">
                            
                        </div>
                        <h3>Ingresa</h3>
                        <hr>
                        <div class="form-group">
                            <label for="">Usuario (correo)</label>
                            <input v-model="email" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Contraseña</label>
                            <input v-model="password" type="password" class="form-control">
                        </div>
                        <button @click="login" class="btn btn-success">Entrar</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                email: "",
                password: "",
                error: null
            }
        },
        methods: {
            login() {
                console.log('entry');

                let self = this;
                
                axios.post('/login', {
                    email: self.email,
                    password: self.password,
                }).catch(error => {
                    self.error = response.message;
                }).then(response => {
                    location.href = "http://bloh.test/users";
                });
                
            }
        }
    }
</script>
