<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">

                        <h3>Ingresa</h3>
                        <hr>
                        <div class="form-group">
                            <label for="">Usuario (correo)</label>
                            <input v-model="email" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Nombre (real)</label>
                            <input v-model="name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Contraseña</label>
                            <input v-model="password" type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Repita la Contraseña</label>
                            <input v-model="password2" type="password" class="form-control">
                        </div>
                        <a type="button" @click="register" class="btn btn-success">Entrar</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                email: "",
                name: "",
                password: "",
                password2: ""
            }
        },
        methods: {
            register() {
                console.log('register');

                let self = this;
                
                axios.post('/register', {
                    email: self.email,
                    name: self.name,
                    password: self.password,
                    password2: self.password2,
                }).catch(error => {
                    self.error = response.message;
                }).then(response => {
                    location.href = "http://bloh.test/users";
                });

            }
        }
    }
</script>
