<template>
    <div class="container">

        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAuth">
        Ingresa al sistema
        </button>

        <div class="modal fade" id="modalAuth" tabindex="-1" role="dialog" aria-labelledby="modalAuth" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAuth">Ingresar al sistema</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="text-center my-3">Sistema de prueba</h3>
                            <div class="text-center">
                                <router-link to="/login">Entrar</router-link>
                                <router-link to="/register">registrarse</router-link>
                            </div>
                            <router-view></router-view>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
export default {

}
</script>